@use "../../styles/mixins" as mxn;

.socialmedia {
  text-align: center;

  .informations__article {
    &__title {
      background-color: var(--dark-brown);
    }

    &__details {
      @include mxn.flex("column", "nowrap");
      gap: 0.5rem;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
  }
}