@use "../../styles/mixins" as mxn;

.input {
  &__label:has(+ .input-file) {
    top: -53%;
  }

  &__wrapper {

    .input-file {
      background-color: transparent;
      box-shadow: 0px 0px 0px transparent;
    }
  }
}